@use '../app/common.module.scss' as c;

.pdf{
    border: 1px dashed c.$grey-01;
    position: relative;
    transition: all 100ms ease-in;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }
    &:hover::after{
        background: rgba(c.$white-1,.0);
        border: 20px solid rgba(249,250,251,.8);
    }
}

$zindex: 100;
.pageNumber{
    font-style: italic;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateY(-0.5rem);
    font-size: c.$fs-08;
    z-index: $zindex;
}

.rotate{
    $size:1rem;
    width: $size;
    height: $size;
    color: c.$white-1;
    background-color: c.$orange-1;
    position: absolute;
    top: 0;
    right: 0;
    font-size: c.$fs-07;
    @include c.flexLayout();
    border-radius: 50%;
    z-index: $zindex;
}